.role-title-container {
  border-radius: 8px; // rounded corners
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); // subtle shadow
  font-weight: 400;
  font-size: 12px;
  max-width: fit-content; // shrink box to fit content
  color: white;
}
