<div class="sidebar-container">
  <div class="user-details-container p-t-4">
    <div class="profile-picture">
      <img
        ngSrc="assets/images/users/user1.jpg"
        alt=""
        srcset=""
        width="80"
        height="80"
        priority="high"
      />
    </div>
    <div class="title m-t-2">
      <app-role-title [roleTitle]="roleTitle()"></app-role-title>
    </div>
    <div class="name m-t-2">
      <p>Mike</p>
    </div>
    <div class="email small">
      <p>fM1o7&#64;example.com</p>
    </div>
  </div>

  <!-- sidebar navigation -->
  <div class="sidebar-navigation-container m-t-4">
    <app-sidebar-nav></app-sidebar-nav>
  </div>
</div>
