.header-wrapper {
  width: 100%;
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  .welcome {
    .greeting {
      font-weight: 500;
      font-size: 1.275rem;
    }
    .data-time {
    }
  }
  .task-summary {
  }
}
