/* Regular */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/poppins/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/poppins/Poppins-Medium.woff2") format("woff2");
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/poppins/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/poppins/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
}

/* Italic (Optional) */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/poppins/Poppins-Italic.woff2") format("woff2");
  font-display: swap;
}
