.layout-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content-area content-area"
    "sidebar footer footer";

  grid-template-rows: 60px 1fr 50px;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  gap: 8px;

  header {
    grid-area: header;
  }

  aside {
    grid-area: sidebar;
    // background-color: rgb(136, 214, 219);
  }

  main {
    grid-area: content-area;
    height: 100%;
    padding: 1.5rem;
    // background-color: rgb(131, 80, 226);
  }

  footer {
    grid-area: footer;
    // background-color: rgb(226, 54, 149);
  }
}

// Overlay mode for mobile
@media (max-width: 991.98px) {
  .layout-container {
    grid-template-areas:
      "header"
      "content-area"
      "footer";
    grid-template-columns: 1fr;

    aside {
      position: fixed;
      top: 60px; // height of the header
      left: 0;
      width: 250px;
      height: calc(100% - 60px);
      background: white;
      z-index: 1000;
      transform: translateX(-100%);
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}
