<div class="layout-container">
  <header class="app-header">
    <app-header></app-header>
  </header>

  <aside
    class="app-sidebar"
    [class.open]="isMobile() && isSidebarActive()"
    [class.close]="isMobile() && !isSidebarActive()"
    [@fadeSidebar]="
      isMobile()
        ? navigationMenuShowHideService.isSidebarActive()
          ? 'visible'
          : 'hidden'
        : 'visible'
    "
  >
    <app-sidebar></app-sidebar>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <app-footer></app-footer>
  </footer>

  <!-- Overlay -->
  @if (isMobile() && isSidebarActive()) {
  <div
    class="overlay"
    (click)="navigationMenuShowHideService.toggleSidebar()"
  ></div>
  }
</div>
