<div class="layout-container">
  <header class="app-header">
    <app-header></app-header>
  </header>

  <aside
    class="app-sidebar"
    [class.open]="navigationMenuShowHideService.isSidebarActive()"
    [class.close]="!navigationMenuShowHideService.isSidebarActive()"
  >
    <app-sidebar></app-sidebar>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <app-footer></app-footer>
  </footer>

  <!-- Overlay -->
  @if (navigationMenuShowHideService.isSidebarActive()) {
  <div
    class="overlay"
    (click)="navigationMenuShowHideService.toggleSidebar()"
  ></div>
  }
</div>
