//utilities
@use "./styles/utils.scss";

// fonts
@use "./styles/fonts.scss";

//spacing
@use "./styles/margin-padding.mixing" as spacing;

@include spacing.generate-spacing(margin, m);
@include spacing.generate-spacing(padding, p);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100dvh; /* For mobile browsers */
}
