// color variables
@use "./styles/color-variables";

//fonts
@use "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: color-variables.$background-color;
  min-height: 100vh;
  min-height: 100dvh; /* For mobile browsers */
}
