<div class="task-summary-wrapper m-b-1">
  <div class="total-tasks d-flex align-items-center bg-white">
    <span class="color-box total m-r-3"></span>
    <span class="count">18</span>
    <span class="label text-secondary m-l-1">Total Tasks</span>
  </div>

  <div class="pending-tasks d-flex align-items-center bg-white">
    <span class="color-box pending m-r-3"></span>
    <span class="count">11</span>
    <span class="label text-secondary m-l-1">Pending Tasks</span>
  </div>

  <div class="inprogress-tasks d-flex align-items-center bg-white">
    <span class="color-box inprogress m-r-3"></span>
    <span class="count">5</span>
    <span class="label text-secondary m-l-1">Inprogress Tasks</span>
  </div>

  <div class="completed-tasks d-flex align-items-center bg-white">
    <span class="color-box completed m-r-3"></span>
    <span class="count">2</span>
    <span class="label text-secondary m-l-1">Completed Tasks</span>
  </div>
</div>
